<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="bg--home bg-size">
<header class="row margin-0">
  <figure class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
      <img src="../assets/images/logo-white.png" alt="Logo lyft">

  </figure>
  
</header>

<div class="row margin-0 padding">
  <figure class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
    <img src="../assets/images/logo-pink.png" alt="">
  </figure>
</div>

<div class="row margin-0  z-index">
    <figure class="col-xs-8 col-xs-offset-2 sm-hidden">
      <img src="../assets/images/bigote-pink.png" alt="">
    </figure>
  </div>

  <div class="row margin-0">
      <div class="col-xs-8 col-xs-offset-2">
         <button type="button" class="btn btn-default btn--styles text-white weight-400 "> LOG IN</button>
         <button type="button" class="btn btn-default pull-right btn--styles text-white weight-400 "> SIGN UP</button>
        </div>
     </div>
</div>



    
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>