<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lyft</title>
  <link rel="icon" href="../assets/images/icon-lyft.png">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">    
</head>
<body>

  <div class="container altura">

    <nav class="row margin-0">
      <div class="row margin-0 flex-container"> 
        <div class="col-xs-2 ">
          <a class="glyphicon glyphicon-menu-left nav__icon--border-radius reset-anchore-styles icon-prev-js"></a> 
        </div>
        <div class="col-xs-10">
          <h1 class="text-center title-30-px " >Sign Up</h1> 
          <h4 class="text-center title-15-px">  Join now for free ride credit</h4>
        </div>
      </div> 
      <hr>
    </nav>

    <div class="row margin-0">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <form>
          <div class="form-group">
						<div class="input-group form-inline">
							<div class="input-group-addon"><i class="fa fa-user-o"></i></div>
              <input type="text" class="form-control first-name-js input-prueba" id="width-50"  placeholder="First name">
              <input type="text" class="form-control last-name-js input-prueba" id="width-50"  placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
							<input type="text" class="form-control email-js" placeholder="Email">								
						</div>
					</div>
          <div class="checkbox text-center checkbox-js">
            <label>
              <input type="checkbox">I agree to Lyft´s <a href="#">Terms of service</a> 
            </label>
          </div>          
        </form>
      </div>
		</div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <button class="btn btn-lg btn-block text-uppercase btn--style1 submit-form-js" disabled>next</button>
      </div>
    </div>	
   
  </div>
   
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>  
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/sign-up-2.js"></script>
</body>
</html>
