<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/build/css/intlTelInput.css">
    <link rel="stylesheet" href="../css/main.css">
    
</head>
<body>
  <div class="container">

    <nav class="row margin-0">
      <div class="row margin-0 flex-container"> 
        <div class="col-xs-2 ">
          <i class="glyphicon glyphicon-menu-left nav__icon--border-radius"></i> 
        </div>
        <div class="col-xs-10">
          <h1 class="text-center title-20-px " >Verify phone number</h1> 
          <h4 class="text-center title-15-px">  Join now for free ride credit</h4>
        </div>
      </div> 
      <hr>
    </nav>
    <div class="row margin-0">
        <div class="col-xs-1 col-xs-offset-3">
           <p>LAB-</p> 
        </div>
        <div class="col-xs-3">
                <input type="number" class="form-control code-input-js">
        </div>
    </div>
    <div class="row">
        <div class="col">
                <h4 class="text-center"> <small> Enter the code sent to +52</small></h4>
                
        </div>       
    </div>
    <div class="row">
            <div class="col-xs-3 col-xs-offset-4">
                    <button type="button" class="btn resend-js">Resend code</button>
            </div>
    </div>
    <br>
    <button type="button" class="btn btn-lg btn-block text-uppercase btn--style1 disabled submit-js">next</button>
    
    </div>
    

    
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>  
  <script src="../vendors/build/js/intlTelInput.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/sign-up.js"></script>
  <script src="../js/verify-phone-number.js"></script>
</body>
</html>
